## 변수 선언 및 데이터 타입
    - 변수 선언 방법
    - Jupyter에서의 변수 출력 (print 함수, 변수명 이용 방법의 차이점)
    - type 함수

In [8]:
a = 3

In [9]:
print(a)

3

In [10]:
a

3

In [11]:
b = "python"

In [12]:
print(b)

python

In [13]:
c = [1,2,3]

In [14]:
type(c)

list

## 숫자형
    - 변수 선언
        - 정수
            - 10진법
            - 2진법
            - 8진법
            - 16진법
        - 실수
        - 복소수
    - 연산자
        - 사칙연산 + 나머지, 몫
    - 숫자형 변환
        - 정수 to 실수
        - 실수 to 정수
        - 정수 to 부울
        - 부울 to 정수

In [15]:
num1 = 20   # 10진법 
print(num1)

20

In [16]:
num2 = 0b1001 # 2진법
print(num2)

9

In [17]:
num3 = 0o11 # 8진법
print(num3)

9

In [18]:
num4 = 0x1001 # 16진법
print(num4)

4097

In [20]:
num5 = 3.141592 # 실수 저장
print(num5)

3.141592

In [21]:
num6 = 2 + 3j # 복소수
print(num6)

(2+3j)

In [23]:
A, B = 10, 20
A+B, A-B, A*B, A/B, A//B, A%B

(30, -10, 200, 0.5, 0, 10)

In [24]:
float(1)

1.0

In [25]:
int(3.14)

3

In [26]:
bool(1)

True

In [27]:
int(False)

0

In [2]:
a  = 10
c = complex(1, a)
c

(1+10j)


## 논리형
    - 비교 연산자
        - ==, !=, >=, <=, >, <
    - 조건 연산자
        - and or not in not in

In [28]:
1 == 1

True

In [29]:
1 != 0

True

In [30]:
1 >= 0

True

In [31]:
1.0 <= 0

False

In [32]:
1 > 10

False

In [33]:
5 < 5

False

In [35]:
True and True

True

In [36]:
False or False

False

In [37]:
not True

False

In [38]:
1 in [1,2,3,4,5]

True

In [39]:
10 not in [1,3,5,7,9]

True

## 문자열
    - 문자열 선언
        - ', ", """(''')
    - 이스케이프 문자
        - \n, \t, \r, \\, \', \"
    - 문자열 연산자
        - +, -
    - 문자열 인덱싱
    - 문자열 슬라이싱
    - 문자열 포맷팅
        - % 이용
    - 문자열 함수
    - 입력 함수

In [40]:
type("Python")

str

In [43]:
myStr1 = 'Hello SUNI'
print(myStr1)

Hello SUNI

In [42]:
myStr2 = "Python is easy"
print(myStr2)

Python is easy

In [44]:
myStr3 = """I'm best"""
print(myStr3)

I'm best

In [45]:
myStr4 = """안녕하세요.
만나서 반갑습니다.
감사합니다."""
print(myStr4)

안녕하세요.
만나서 반갑습니다.
감사합니다.

In [46]:
print("안녕\n하세요")

안녕
하세요

In [47]:
print("안녕\t하세요")

안녕	하세요

In [48]:
print("안녕\r하세요")

하세요

In [49]:
print("\\")

\

In [50]:
print("\"")

"

In [51]:
print('\'')

'

In [52]:
'Py' + 'thon'

'Python'

In [53]:
'Python' * 3

'PythonPythonPython'

In [54]:
myStr = "python"
myStr[0]

'p'

In [55]:
myStr[5]

'n'

In [56]:
myStr[1:4]

'yth'

In [57]:
myStr[-1]

'n'

In [58]:
# 문자열 연습문제

msg = "20180522Rainy"

date = msg[:8]
weather = msg[8:]

date, weather

('20180522', 'Rainy')

In [59]:
pin = "881120-1064533"
pin[7]

'1'

In [60]:
x = 100

"x is %d" % x

'x is 100'

In [61]:
"I eat %s appels." % 'five'

'I eat five appels.'

In [62]:
"%d + %d = %d" % (10, 15, 25)

'10 + 15 = 25'

In [63]:
"%0.2f" % 3.141592

'3.14'

In [64]:
"%02d" % 1

'01'

In [66]:
"%05d" % 10

'00010'

In [67]:
len("Hello")

5

In [68]:
b = "A:B:C:D"
b.split(":")

['A', 'B', 'C', 'D']

In [69]:
c = "\tA"
print(c)
print(c.strip())

	A
A

In [72]:
msg = input()
msg

hello world

'hello world'

## 리스트
    - 리스트 생성
        - [], list()
            - range()
    - 리스트 접근
        - 1차원, 2차원 리스트 데이터 가져오기
        - 리스트의 요소 값 변경
            - [], insert, remove, pop, extend
    - 리스트 연산자
        - +, *
    - 리스트 인덱싱
        - 2차원 리스트 인덱싱
    - 리스트 슬라이싱
        - 1차원 리스트 슬라이싱
    - 리스트 함수
        - sort,

In [2]:
x = [9, 'a', "Hello", [1,3]]
x

[9, 'a', 'Hello', [1, 3]]

In [3]:
x[0]

9

In [4]:
x[-1]

[1, 3]

In [5]:
x[-1][1]

3

In [9]:
mylist = []
mylist

[]

In [8]:
mylist = list()
mylist

[]

In [10]:
mylist = [1,3,5,7,9]
mylist

[1, 3, 5, 7, 9]

In [17]:
mylist = list(range(0,10))
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
len(mylist)

10

In [19]:
mylist[0] = 3
mylist

[3, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
mylist.insert(1,-1)
mylist

[3, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
mylist.remove(3)
mylist

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
mylist.pop(3)
mylist

[-1, 1, 2, 4, 5, 6, 7, 8, 9]

In [24]:
a = [1,2]
b = [3,4]
a.extend(b)
a

[1, 2, 3, 4]

##### 리스트 인덱싱

In [31]:
mylist = [[1,3,5],[3,5,7],[5,7,9]]
mylist

[[1, 3, 5], [3, 5, 7], [5, 7, 9]]

In [32]:
mylist[0]

[1, 3, 5]

In [33]:
mylist[1][1]

5

##### 리스트 슬라이싱

In [25]:
mylist[1:3]

[1, 2]

In [26]:
mylist[:3]

[-1, 1, 2]

In [27]:
mylist[4:]

[5, 6, 7, 8, 9]

In [28]:
mylist[-2:]

[8, 9]

##### 리스트 연산자

In [37]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [98]:
a = [1] * 10
a

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [38]:
a[1:2]

[2]

In [41]:
a[1] = ['c','d','e']
a

[1, ['c', 'd', 'e'], 'd', 'e', 3]

In [39]:
a[1:2] = ['c','d','e']
a

[1, 'c', 'd', 'e', 3]

In [42]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [43]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [46]:
a = [1,4,2,3]
a.sort()
a

[1, 2, 3, 4]

In [47]:
score = [['math', 89], ['english']]
score[-1].append(85)
score

[['math', 89], ['english', 85]]

In [49]:
a.reverse()
a

[1, 2, 3, 4]

In [51]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [52]:
a.remove(4)
a

[1, 2, 3]

In [53]:
a.pop()
a

[1, 2]

In [54]:
a.count(1)

1

##### 리스트 연습문제

In [68]:
mylist = [1,3,5,4,2]
mylist[-1:-6:-1]

[2, 4, 5, 3, 1]

In [70]:
mylist = ['python','is','too','interesting']
' '.join(mylist)

'python is too interesting'

In [56]:
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

## 튜플
    - 튜플 생성
        - (,), tuple
    - 튜플 연산자
        - +, *
    - 튜플 인덱싱
    - 튜플 슬라이싱

In [2]:
t = (1,3,5)
t

(1, 3, 5)

In [3]:
t = tuple([1,3,5])
t

(1, 3, 5)

In [4]:
t=tuple(range(0,10))
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [5]:
t = 1,2,3
t

(1, 2, 3)

In [15]:
t2 = (4,)
t1 + t2

(1, 2, 3, 4)

In [101]:
t1 = (1,) * 10
t1

(1, 1, 1, 1, 1, 1, 1, 1, 1, 1)

In [7]:
t1[0]

1

In [102]:
t1[:5]

(1, 1, 1, 1, 1)

## Range 함수

In [14]:
r = range(0,20)
print(list(r))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
r = range(0,20,2)
print(list(r))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## 시퀀스 자료형간의 데이터 변환

In [16]:
myStr = 'Python'
list(myStr)

['P', 'y', 't', 'h', 'o', 'n']

In [17]:
tuple(myStr)

('P', 'y', 't', 'h', 'o', 'n')

In [103]:
myList = ['Hello', 'SUNI', 'CDS']
''.join(myList)

'HelloSUNICDS'

## 사전 (딕셔너리)
    - 딕셔너리 생성
        - {key:value}, dict()
    - 딕셔너리 값 접근
    - 딕셔너리 값 삭제
    - 딕셔너리 값 추가
    - 딕셔너리 함수

In [1]:
dic = {'eggs':2, 'sausae':1, 'bacon':1, 'spam':500}
dic

{'eggs': 2, 'sausae': 1, 'bacon': 1, 'spam': 500}

In [2]:
dic['eggs']

2

In [3]:
a = {1:'b'}
a[2] = 'c'
a

{1: 'b', 2: 'c'}

In [6]:
a['name'] = 'tom'
a

{1: 'b', 2: 'c', 'name': 'tom'}

In [7]:
del a[1]
a

{2: 'c', 'name': 'tom'}

In [8]:
a.pop(2)
a

{'name': 'tom'}

In [9]:
myinfo = {'name':'kim','age':30,'address':'seoul'}
myinfo['name']

'kim'

In [12]:
a = {'name':'tom', 'phone':'01012345678', 'birth':1212}

In [13]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [14]:
a.values()

dict_values(['tom', '01012345678', 1212])

In [15]:
a.items()

dict_items([('name', 'tom'), ('phone', '01012345678'), ('birth', 1212)])

In [16]:
a.get('name')

'tom'

In [17]:
'name' in a

True

In [21]:
myDic = {'name':'KIM'}

In [22]:
myDic2 = {'age':20, 'address':'seoul'}

In [23]:
myDic.update(myDic2)

In [24]:
myDic

{'name': 'NH', 'age': 20, 'address': 'seoul'}

## 집합 (set)
    - 집합 생성
        - {}
    - 집합 연산
        - 차집합, 교집합, 합집합, 여집합
    - 중복 제거

In [1]:
a = {'a', 'b', 'c'}

In [4]:
a, type(a)

({'a', 'b', 'c'}, set)

In [5]:
b = set('abcde')

In [6]:
a - b # 차집합

set()

In [7]:
a | b # 합집합

{'a', 'b', 'c', 'd', 'e'}

In [8]:
a & b # 교집합

{'a', 'b', 'c'}

In [9]:
a ^ b #여집합

{'d', 'e'}

In [10]:
a.union(b) #합집합

{'a', 'b', 'c', 'd', 'e'}

In [13]:
a.intersection(b) #교집합

{'a', 'b', 'c'}

In [14]:
s = set("Hello")
s

{'H', 'e', 'l', 'o'}

In [19]:
s1 = set([1,2,3])
myList = list(s1)
myList

[1, 2, 3]

In [18]:
a = [1,1,2,2,3,4,4,5,6,7,2]
list(set(a))

[1, 2, 3, 4, 5, 6, 7]

## 조건문
    - if
    - if-else
    - if-elif-else

In [3]:
gender = input("성별을 입력하세요 MALE or FEMALE")

if gender == "MALE":
    print("남성입니다")
else:
    print("여성입니다.")

성별을 입력하세요 MALE or FEMALEMALE
남성입니다

In [10]:
info = input('키 몸무게 입력 예) 155,60 > ')
info = info.split(',')
value = int(info[1]) + 100 - int(info[0])
print('비만수치는 %d 입니다' % value)

if value > 0 :
    print('당신은 비만입니다')

키 몸무게 입력 예) 155,60 > 155,40
비만수치는 -15 입니다

In [104]:
gender = input("성별을 입력하세요 MALE or FEMALE")

if gender == "MALE":
    print("남성입니다")
elif gender == "FEMALE":
    print("여성입니다.")
else:
    print("잘못된 입력값입니다")

성별을 입력하세요 MALE or FEMALEMALE
남성입니다

In [12]:
score = int(input('성적입력 > '))

if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
elif score < 70:
    print("D")

성적입력 > 94
A