## 반복문
    - for
    - 2중 for
    - while 
    - break, continue

In [1]:
colors = ['red', 'green', 'blue']
for c in colors:
    print(c)

red
green
blue

In [2]:
result = [90, 35, 68, 44, 81]

n = 1
for r in result:
    
    if r >= 60:
        print("%d번 학생은 합격입니다" % n)
    else:
        print("%d번 학생은 불합격입니다" % n)
    n += 1

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [7]:
result = [90, 35, 68, 44, 81]

for n, r in enumerate(result):
    if r >= 60:
        print("%d번 학생은 합격입니다" % (n+1))
    else:
        print("%d번 학생은 불합격입니다" % (n+1))

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [8]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
sum = 0
for i in range(1,101):
    sum = sum + i
print(sum)

5050

In [13]:
matrix=[[1,2,3],[4,5,6],[7,8,9,10]]

for i in matrix:
    for j in i:
        print(j, end =" ")
    print()

1 2 3
4 5 6
7 8 9 10

In [15]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end =" ")
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [2]:
gender=''

while gender!= 'MALE' and gender != 'FEMALE':
    gender = input('성별을 입력하세요 >')
    
    if gender == 'MALE':
        print("남성입니다")
    elif gender == 'FEMALE':
        print("여성입니다.")
    else:
        print("잘못된입력값입니다")
print("종료")

성별을 입력하세요 >FEMALE
여성입니다.
종료

In [3]:
num = 0
sum = 0
while num < 101:
    if num % 2 == 0:
        sum += num
    num += 1
print(sum)

2550

In [11]:
i = 0
while True:
    i += 1
    if i > 5: 
        break
    print("*" * i)

*
**
***
****
*****

In [12]:
for i in range(10):
    if i == 2:
        continue
    if i == 5:
        break
    print(i)

0
1
3
4

## 함수
    - 함수 정의
    - 매개 변수
        - 위치
        - 기본
        - 키워드
        - 가변
    - 재귀 함수
    - 람다 함수

In [5]:
def func():
    print("func")
func()

func

In [9]:
def func1(a, b):
    print(a + b)
func1(1,2)

3

In [8]:
def func2(a, b):
    return a+b
func2(1,2)

3

In [10]:
f1 = func1(1,2)
f2 = func2(1,2)
f1, f2

3

(None, 3)

##### 위치 매개변수

In [11]:
def myAdd(num1, num2):
    return num1 + num2

In [12]:
myAdd(3,4)

7

##### 기본(디폴트) 매개변수

In [13]:
def mysum(end, start=0):
    sum = 0
    for i in range(start, end+1):
        sum += i
    return sum

In [14]:
mysum(10)

55

In [15]:
mysum(10,5)

45

##### 키워드 매개변수

In [16]:
def printinfo(name, age):
    print('name :',name,', age :',age)

In [18]:
printinfo(name='KIM', age=20)

name : KIM , age : 20

In [19]:
printinfo(age=30, name='KIM')

name : KIM , age : 30

##### 가변 매개변수

In [20]:
def add(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

In [22]:
add(1,2,3)

6

In [23]:
add(1,2,3,4,5,6,7)

28

In [24]:
v = [1,2,3]
add(*v)

6

In [25]:
def printinfo(**args):
    print(args)

In [26]:
printinfo(a=1, b=2)

{'a': 1, 'b': 2}

In [27]:
dic = {'aa':3,'bb':4}
printinfo(**dic)

{'aa': 3, 'bb': 4}

##### 함수 연습문제

In [29]:
def alpha(string):
    return string.lower()

In [30]:
alpha("ABCDE")

'abcde'

In [36]:
def calc_many(choice, *args):
    
    if choice == "sum":
        sum = 0
        for i in args:
            sum += i
        return sum
    elif choice == "mul":
        mul = 1
        for i in args:
            mul *= i
        return mul

In [37]:
calc_many("sum", 1,2,3,4,5)

15

In [38]:
calc_many("mul", 1,2,3,4,5)

120

##### 함수설명문

In [40]:
def add(*args):
    """ 매개변수의 총합을 반환
    매개변수 :
        args : 숫자만 입력
    반환:
        매개변수의 총합
    """
    sum = 0
    for i in args:
        sum += i
    return sum

In [42]:
add.__doc__

' 매개변수의 총합을 반환\n    매개변수 :\n        args : 숫자만 입력\n    반환:\n        매개변수의 총합\n    '

##### 재귀호출

In [43]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)

In [44]:
factorial(5)

120

##### lambda

In [45]:
result = lambda x : x*2

In [47]:
result(5)

10

## 모듈
    - 모듈 불러오기
    - 모듈 사용하기

In [60]:
import random
random.random()

0.17747719079483648

In [61]:
random.randint(1,100)

43

In [65]:
a = [1,2,3,4,5]
random.shuffle(a)
print(a)

[4, 2, 5, 3, 1]

In [4]:
import math
print(math.pi)

3.141592653589793

In [5]:
from math import pi

print(pi)

3.141592653589793

In [6]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [8]:
%%writefile my_calc.py

myname = "홍길동"

def plus(a, b):
    return a+b

def minus(a, b):
    return  a-b

Writing my_calc.py

In [9]:
import my_calc
print(my_calc.plus(3,4))
print(my_calc.minus(3,4))
print(my_calc.myname)

7
-1
홍길동